<div id='login' ng-controller='loginController'>
  <div class="row greeting">
      <div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-3">
          <h3>Hi there!</h3>
          <p>Lets get organized!</p>
          <form id="login">
            <div class="form-group">
              <label for="name">Name<span class='error' ng-if='validations.name'> - cannot be blank</span></label>
              <input type="text" class="form-control" id="name" placeholder="Name" ng-model='user.name'>
            </div>
            <button class="btn btn-default pull-right" ng-click="entry(user)">Enter Here</button>
          </form>
      </div>
  </div>
</div>